:root {
  --primary-text-color: #757575; /* Вторичный цвет текста */
  --title-text-color: #212121; /*Цвет основного текста */
  --accent-color: #2196f3; /*Акцент */
  --primary-white-color: #ffffff; /* Белый цвет */
  /* опциональный цвет текста rgba(255, 255, 255, 0.6) 
  rgba(255, 255, 255, 0.4); */
  /* Вторичный цвет фона #F5F4FA */
}
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h2 {
  font-style: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
h3 {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
.section-decription {
  font-style: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* Logo  */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.accent {
  color: var(--title-text-color);
}

/* Site nav */
.site-nav,
.contacts-nav {
  font-style: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.contacts-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Contacts nav  */
.contacts-nav-accent {
  color: var(--primary-text-color);
}

/* Hero */
.hero {
  background-color: var(--primary-text-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.wrap {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;

  color: var(--primary-white-color);
}

/* Features */

.text {
  font-style: 400;
  font-size: 14px;
  line-height: 1.7;

  color: var(--primary-text-color);
}

/* Чем мы занимаемся */
.sectoin-content .link:hover {
  color: var(--accent-color);
}
.section-title-white {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;

  background-color: var(--primary-text-color);
  color: var(--primary-white-color);
}

/* Наша команда */
.section-team {
  font-size: 16px;
  line-height: 1.19px;
  background-color: #f5f4fa;
}
.team-subtitle {
  font-size: 16px;
  color: var(--title-text-color);
}
.team-text {
  color: var(--primary-text-color);
}
.team-icon {
  color: #afb1b8;
}
/* Постоянные клиенты */




 /* Подвал */
 .footer-text {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
}

.logo-accent{
  background-color: var(--primary-text-color);
  color: var(--primary-white-color);}
}

.footer-button {
font-style: 400;
font-size: 16px;
line-height: 1.9;
background-color: var(--accent-color);
color: var(--primary-white-color);
}

.autor {
  font-style: 400;
  font-size: 12px;
  line-height: 2;
  background-color: var(--primary-text-color);
  color: rgba(255, 255, 255, 0.4);
}

.cards-title{
font-style: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--title-text-color);
}
.cards-text{
font-style: 400;
font-size: 18px;
line-height: 1.56;
background-color: var(--primary-text-color);
color: var(--primary-white-color);

}
.cards-subtitle{

font-style: 400;

font-size: 16px;
line-height: 1.87;
color: var(--primary-text-color);
}